In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('tweets.csv',encoding='latin-1')

In [20]:
print(df.head(1))

   0  1467810369  Mon Apr 06 22:19:45 PDT 2009  NO_QUERY _TheSpecialOne_
0  0  1467810672  Mon Apr 06 22:19:49 PDT 2009  NO_QUERY   scotthamilton  \

  @switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D
0  is upset that he can't update his Facebook by ...

In [21]:
df.columns = ['sentiment', 'id', 'date', 'query', 'user_id', 'text']
df.head()

,sentiment,id,date,query,user_id,text
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [24]:
df = df.drop(['id', 'date', 'query', 'user_id'], axis=1)
df.loc[df['sentiment'] == 4, 'sentiment'] = 1
df.head(-10)

         sentiment                                               text
0                0  is upset that he can't update his Facebook by ...
1                0  @Kenichan I dived many times for the ball. Man...
2                0    my whole body feels itchy and like its on fire
3                0  @nationwideclass no, it's not behaving at all....
4                0                      @Kwesidei not the whole crew
...            ...                                                ...
1599984          1  if ur the lead singer in a band, beware fallin...
1599985          1              @tarayqueen too much ads on my blog.
1599986          1  @La_r_a NEVEER  I think that you both will get...
1599987          1  @Roy_Everitt ha- good job. that's right - we g...
1599988          1                 @Ms_Hip_Hop im glad ur doing well

[1599989 rows x 2 columns]